<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ProyectoVeterinariaWebPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.Usuarios</class>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.Factura</class>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.Sucursal</class>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.Detallefactura</class>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.Turno</class>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.Mascotas</class>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.Rol</class>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.Clientes</class>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.CargoEmpleado</class>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.Formapago</class>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.Empleados</class>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.Medicamento</class>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.Citas</class>
    <class>edu.ujmd.ProyectoVeterinariaWeb.entidades.Historialmedico</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/veterinaria?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="Mario1999622521"/>
    </properties>
  </persistence-unit>
</persistence>
